*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.cache-main
.cache-tests
.classpath
.class
.settings
.ensime
.vscode
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
*.settings/
*bin
*spark-warehouse
.cache-tests
.cache-main
.gradle/
*FFDC
*.FDC
*.lck
*.cache-main
*.cache-tests
*build